<% if @reservation.nil? %>
  <p> Invalid confirmation code </p>
<% else %>
  <%= @reservation.confirmation_code %>
  <%= @reservation.flight.from.name %>
  <%= @reservation.flight.to.name %>
  <%= link_to "Edit ", edit_booking_path(@reservation), class: "btn btn-default" %>
  <% end %>
