
<% @active = true %>
<% @active_reservation = false %>
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
      <%= render 'partials/user_side_bar' %>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
              <%= render "partials/past_booking" %>
            </div>
		</div>
	</div>
</div>

<br>
<br>
