
.bg-class {
    background-image: url('bg-2.jpg');

    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-position: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1 { margin-bottom: 50px; }
h1, h2 { text-align: center; }

.searchBox {
  background: rgba(200, 200, 200, 0.8);;
  margin: 200px auto;
  padding-bottom: 50px;
  vertical-align: middle;
}

#booking{
  position: relative;
  padding-top: 20px;
  min-height: 680px;
}
.footer{
  padding: 20px;
  background-color: #305288;
  color: #fff;
  margin-bottom: -10px;
  position: relative;

}
.flight_title{
  background: #305288;
  color: white;
}

/* Titles */
h1, h2, h3, h4, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background-color: #305288;
	padding-top: 60px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: blue;
	font-size: 70px;

}


#navigation{
  background: #305288 !important;
}

#headerwrap h3 {
	color: black;
	font-size: 30px;
}

#headerwrap h5 {
	color: blue;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: blue;
}

.top-nav-collapse {
    padding: 0;
     background-color: #000 !important;
     opacity: 0.50;
     filter: alpha(opacity=90);
}
