.col-md-5.display-details.activate{
  margin-top: -10%;
}
.alert{
  margin-top: 10%;
}
.bg-class {
    background-image: url('bg-2.jpg');

    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-position: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.center-table
{
  margin: 0 auto !important;
  float: none !important;
}
/*.list-details{
  width: 50%;
}*/
.details{
  margin-top: 60px;
}
.panel-heading.airline{
  font-size: 1.8em;
}
.date-picker{
  background-color: #fff !important;
  border-radius: 4px;
}
.panel {
    /* margin-bottom: 20px; */
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 30%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}


h1 { margin-bottom: 50px; }
h1, h2 { text-align: center; }

.searchBox {
  background: rgba(200, 200, 200, 0.8);
  margin: 200px auto;
  padding-bottom: 50px;
  vertical-align: middle;
}

#booking{
  position: relative;
  padding-top: 20px;
  min-height: 680px;
}
/*#profile{
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 30%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}*/
.footer{
  padding: 20px;
  background-color: #305288;
  color: #fff;
  margin-bottom: -10px;
  position: relative;

}
.flight_title{
  background: #305288;
  color: white;
}
#flight_header{
  margin-top: 20%;
}

/* Titles */
h1, h2, h3, h4, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background-color: #305288;
	padding-top: 60px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: blue;
	font-size: 70px;

}


#navigation{
  background: #305288 !important;
}

#headerwrap h3 {
	color: black;
	font-size: 30px;
}

#headerwrap h5 {
	color: blue;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: blue;
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: -1%;
}
/*.top-nav-collapse {
    padding: 0;
     background-color: #000 !important;
     opacity: 0.50;
     filter: alpha(opacity=90);
     margin-top: 10%;
}*/
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
  margin-top: 10%;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}
.image_profile{
  height: 127px;
}
.profile-userpic img {
  text-align: center;
  float: none;
  margin: 0px 64px 0px 64px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.card-content {
    .collection {
      border: none;
    }
  }
  .card {
  .card-image {
    position: relative;
    width: 100%;

    .card-title {
      position: relative;
      font-size: 1.28rem;
      line-height: 1.6em;
      text-align: center;
      width: 100%;
      padding: 10px 15px;
      text-transform: uppercase;
      /*background: rgba(0, 0, 0, 0.1);*/
    }
  }
}

.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transition: visibility 0s 0.6s;
}
.cd-modal.modal-is-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}

.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
}
.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-modal-content {
  color: #f2f2f2;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s 0s, transform 0.3s 0s;
}
.modal-is-visible .cd-modal-content {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
