<table class="table table-hover">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Airline<th>
      <th>Departure Date</th>
      <th>Departure Time</th>
      <th>Price</th>
      <th> </th>
    </tr>
  </thead>

  <% @flights.each do |flight|%>
  <% origin = flight.from.name %>
  <% destination = flight.to.name %>
  <% airline = flight.airplane.airline.name %>
  <% departure_date = flight.dept_date %>
  <% departure_time = flight.dept_time %>
  <% price = flight.price %>
  <% flight_datails = [origin,destination,airline,departure_date,departure_time,price] %>
    <tr id="fl">
    <% counter = 0 %>
    <% while counter < 6 %>
    <td><%= flight_datails[counter] %> </td>
    <% counter += 1 %>
    <% end %>
    <% booking_details = {:id =>flight.id} %>

    <!-- <td><%= link_to "Book", new_booking_path(booking_details), class: "btn btn-default" %></td> -->
    <!-- <td><a class="btn btn-info" href="<%= new_booking_path(booking_details) %>"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Book</a></td> -->
    <td><%= link_to new_booking_path(booking_details), :class => 'btn btn-info', id: 'bkfl' do %>
    <span class="glyphicon glyphicon-plane" aria-hidden="true">Book</span>
    <% end %>
  </td>
    </tr>
  <% end %>
</table
